<div id="main">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let comment of comments">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{commentOwner[comment.user_id]}}</h5>
          <p>{{comment.text}}</p>
        </div>
      </div>
    </li>
    <form [formGroup]="commentForm">
      <div class="card">
        <form class="form-check-inline sticky-bottom end-0 bottom-0">
            <input type="text" formControlName="text" class="form-control">
            <button mat-mini-fab aria-label="Post your comment" (click)="tryCommenting(commentForm.value)">
              <mat-icon>send</mat-icon>
            </button>
        </form>
        <small id="commentHelp" class="form-text-muted" style="align-self: center;">Please be respectful to other users.</small>
        <label class="error">{{errorMessage}}</label>
        <label class="success">{{successMessage}}</label>
      </div>
    </form>
  </ul>
</div>
