img {
  /* width:18rem;
   height: 250px; */
  width: 100%;
}


button {
  margin-left: 0.5%;
  margin-top: 0.5%;
}

div.post {
}

.wrapper {
  margin-top: 60px;
}

.circlePicture {
  height: 75px;
  max-width: 75px;
  border-radius: 50%;
  object-fit: cover;
}
