<div class="wrapper">
  <h1 *ngIf="isLoggedIn()">Welcome back, {{username}}</h1>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let post of posts">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">{{post.title}}</h2>
          <h3 class="post-owner">posted by
            <img *ngIf="post?.profilePicture" [src]="'http://localhost:8081/uploads/'+ post?.profilePicture" alt="Post Image" class="circlePicture">
            <mat-icon id="person-icon">person</mat-icon>
            {{owner.get(post.postId)}}</h3>
        </div>
        <div class="card-img" *ngIf="post.image">
          <img *ngIf="post.image" [src]="'http://localhost:8081/uploads/'+ post.image" alt="If you were looking for the image of this post, it went to 404-land" class="post-image">
          <p class="card-text post-caption">{{post.caption}}</p>
        </div>
        <div class="card-body">
          <p class="card-text post-body">{{post.body}}</p>
        </div>
        <div class="card-footer">
          <div class="button-group">
            <button mat-fab extended (click)="upvote(post)" matTooltip="Upvote this post!">
              <mat-icon>arrow_circle_up</mat-icon>
              Upvote
            </button>
            <button mat-fab (click)="downvote(post)" matTooltip="Downvote this post!">
              <mat-icon>arrow_circle_down</mat-icon>
            </button>
            <button mat-fab (click)="showCommentDialog(post)" matTooltip="Comment on this post!">
              <mat-icon>forum</mat-icon>
            </button>
          </div>
          <p class="post-score">Score: {{post.score}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
