<div class="wrapper">
  <h1>Welcome {{username}}</h1>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let post of posts">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.body}}</p>
          <img src="{{post.image}}">
          <p class="card-text">{{post.caption}}</p>
        </div>
        <div class="card-footer">
          <p>Score: {{post.score}} </p>
          <p>Owner: {{owner[post.userId]}}</p>
         <!-- <button type="submit" class="btn btn-primary" (click)="showCommentDialog(post)">Comment</button> -->
        </div>
      </div>
    </li>
  </ul>
</div>
