<div class="wrapper">
  <h1 *ngIf="isLoggedIn()">Welcome back, {{username}}</h1>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let postable of postables">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">{{postable.title}}</h2>
          <h3 class="post-owner">posted by
            <img *ngIf="postable?.profilePicture" [src]="'http://localhost:8081/uploads/'+ postable?.profilePicture" alt="Post Image" class="circlePicture">
            <!--<mat-icon id="person-icon">person</mat-icon>-->
            {{postable.username}}</h3>
        </div>
        <div class="card-img" *ngIf="postable.image">
          <img *ngIf="postable.image" [src]="'http://localhost:8081/uploads/'+ postable.image" alt="If you were looking for the image of this post, it went to 404-land" class="post-image">
          <p class="card-text post-caption">{{postable.caption}}</p>
        </div>
        <div class="card-body">
          <p class="card-text post-body">{{postable.body}}</p>
        </div>
        <div class="card-footer">
          <div class="button-group">
            <button mat-fab extended (click)="upvote(postable)" matTooltip="Upvote this post!">
              <mat-icon>arrow_circle_up</mat-icon>
              Upvote
            </button>
            <button mat-fab (click)="downvote(postable)" matTooltip="Downvote this post!">
              <mat-icon>arrow_circle_down</mat-icon>
            </button>
            <button mat-fab (click)="showCommentDialog(postable)" matTooltip="Comment on this post!">
              <mat-icon>forum</mat-icon>
            </button>
          </div>
          <p class="post-score">Score: {{postable.score}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
