nav{
  position: fixed;
  top: 0px;
  width: 100%;
}

form{
  color: black;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

#logout{
  float: right;
}

#nameMargin{
  margin-left: 1%;
}

#loginIcon{
  margin-top: 8px;
  color: white;
}

#logoutIcon{
  margin-top: 8px;
  color: coral;
}
